{% extends 'core/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-address-book,.fa-coffee {font-size:200px}

</style>
</head>
<body>

<header class="w3-container w3-black w3-center" style="padding:39.1vh 50vh">
  <h1 class="w3-margin w3-jumbo">SheerCRM</h1>
  <p class="w3-xlarge">A Simple solution to all your client needs.</p>
</header>

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Streamline Customer Data Management</h1>
      <p class="w3-text-grey">Say goodbye to scattered customer information and hello to a centralized hub of valuable data. SheerCRM empowers you to effortlessly capture and organize customer details, interactions, and preferences in one secure location. From contact information to purchase history, every crucial piece of information is just a click away, enabling you to provide personalized experiences and build lasting relationships.</p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-address-book w3-text-black"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-text-black w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Automate Workflows and Boost Productivity</h1>
      <p class="w3-text-grey">Save valuable time and reduce manual efforts with SheerCRM's powerful automation features. From task assignment and email notifications to follow-up reminders and data entry automation, our CRM tool streamlines repetitive processes, empowering your team to focus on what they do best: building customer relationships and driving growth.</p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-padding-64">
    <h1 class="w3-margin w3-xlarge">"Fear not the result, but the guilt of inactivity."</h1>
    <p>- Parth Patel</p>
</div>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>

{% endblock %}